.burger-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    aspect-ratio: 1/1;
    margin-right: 20px;
}
.burger-menu .burger {
    width: 100%;
    background-color: white;
    flex-grow: 1;
    height: 100%;
    margin-bottom: calc(100%/8);
    margin-top: calc(100%/8);
    border-radius: 400px;
    transform-origin: center left;
    transition: all 0.2s linear;
}

/* First line rotate, second line dissapear, third line rotate */
/* All of that to make an X */
.burger-menu--opened .burger-1{
    transform: rotate(45deg);
}

.burger-menu--opened .burger-2{
    opacity: 0;
}

.burger-menu--opened .burger-3{
    transform: rotate(-45deg);
}
