/*Don't touch anything after this line*/
.dAtyAmTU_0 {
    stroke-dasharray: 11974 11976;
    stroke-dashoffset: 11975;
}

.start-geo-12 .dAtyAmTU_0 {
    animation: dAtyAmTU_draw 1200ms ease-in-out 0ms forwards;
}

.dAtyAmTU_1 {
    stroke-dasharray: 13609 13611;
    stroke-dashoffset: 13610;
}

.start-geo-12 .dAtyAmTU_1 {
    animation: dAtyAmTU_draw 1200ms ease-in-out 0ms forwards;
}

.dAtyAmTU_2 {
    stroke-dasharray: 12961 12963;
    stroke-dashoffset: 12962;
}

.start-geo-12 .dAtyAmTU_2 {
    animation: dAtyAmTU_draw 1200ms ease-in-out 0ms forwards;
}

.dAtyAmTU_3 {
    stroke-dasharray: 4234 4236;
    stroke-dashoffset: 4235;
}

.start-geo-12 .dAtyAmTU_3 {
    animation: dAtyAmTU_draw 1200ms ease-in-out 0ms forwards;
}

.dAtyAmTU_4 {
    stroke-dasharray: 3912 3914;
    stroke-dashoffset: 3913;
}

.start-geo-12 .dAtyAmTU_4 {
    animation: dAtyAmTU_draw 1200ms ease-in-out 0ms forwards;
}

.dAtyAmTU_5 {
    stroke-dasharray: 3912 3914;
    stroke-dashoffset: 3913;
}

.start-geo-12 .dAtyAmTU_5 {
    animation: dAtyAmTU_draw 1200ms ease-in-out 0ms forwards;
}

.dAtyAmTU_6 {
    stroke-dasharray: 3912 3914;
    stroke-dashoffset: 3913;
}

.start-geo-12 .dAtyAmTU_6 {
    animation: dAtyAmTU_draw 1200ms ease-in-out 0ms forwards;
}

.dAtyAmTU_7 {
    stroke-dasharray: 4234 4236;
    stroke-dashoffset: 4235;
}

.start-geo-12 .dAtyAmTU_7 {
    animation: dAtyAmTU_draw 1200ms ease-in-out 0ms forwards;
}

.dAtyAmTU_8 {
    stroke-dasharray: 3912 3914;
    stroke-dashoffset: 3913;
}

.start-geo-12 .dAtyAmTU_8 {
    animation: dAtyAmTU_draw 1200ms ease-in-out 0ms forwards;
}

.dAtyAmTU_9 {
    stroke-dasharray: 3912 3914;
    stroke-dashoffset: 3913;
}

.start-geo-12 .dAtyAmTU_9 {
    animation: dAtyAmTU_draw 1200ms ease-in-out 0ms forwards;
}

.dAtyAmTU_10 {
    stroke-dasharray: 3912 3914;
    stroke-dashoffset: 3913;
}

.start-geo-12 .dAtyAmTU_10 {
    animation: dAtyAmTU_draw 1200ms ease-in-out 0ms forwards;
}

.dAtyAmTU_11 {
    stroke-dasharray: 3912 3914;
    stroke-dashoffset: 3913;
}

.start-geo-12 .dAtyAmTU_11 {
    animation: dAtyAmTU_draw 1200ms ease-in-out 0ms forwards;
}

.dAtyAmTU_12 {
    stroke-dasharray: 3912 3914;
    stroke-dashoffset: 3913;
}

.start-geo-12 .dAtyAmTU_12 {
    animation: dAtyAmTU_draw 1200ms ease-in-out 0ms forwards;
}

.dAtyAmTU_13 {
    stroke-dasharray: 4234 4236;
    stroke-dashoffset: 4235;
}

.start-geo-12 .dAtyAmTU_13 {
    animation: dAtyAmTU_draw 1200ms ease-in-out 0ms forwards;
}

.dAtyAmTU_14 {
    stroke-dasharray: 4234 4236;
    stroke-dashoffset: 4235;
}

.start-geo-12 .dAtyAmTU_14 {
    animation: dAtyAmTU_draw 1200ms ease-in-out 0ms forwards;
}

.dAtyAmTU_15 {
    stroke-dasharray: 13609 13611;
    stroke-dashoffset: 13610;
}

.start-geo-12 .dAtyAmTU_15 {
    animation: dAtyAmTU_draw 1200ms ease-in-out 0ms forwards;
}

.dAtyAmTU_16 {
    stroke-dasharray: 13609 13611;
    stroke-dashoffset: 13610;
}

.start-geo-12 .dAtyAmTU_16 {
    animation: dAtyAmTU_draw 1200ms ease-in-out 0ms forwards;
}

.dAtyAmTU_17 {
    stroke-dasharray: 12961 12963;
    stroke-dashoffset: 12962;
}

.start-geo-12 .dAtyAmTU_17 {
    animation: dAtyAmTU_draw 1200ms ease-in-out 0ms forwards;
}

.dAtyAmTU_18 {
    stroke-dasharray: 4234 4236;
    stroke-dashoffset: 4235;
}

.start-geo-12 .dAtyAmTU_18 {
    animation: dAtyAmTU_draw 1200ms ease-in-out 0ms forwards;
}

.dAtyAmTU_19 {
    stroke-dasharray: 3912 3914;
    stroke-dashoffset: 3913;
}

.start-geo-12 .dAtyAmTU_19 {
    animation: dAtyAmTU_draw 1200ms ease-in-out 0ms forwards;
}

.dAtyAmTU_20 {
    stroke-dasharray: 3912 3914;
    stroke-dashoffset: 3913;
}

.start-geo-12 .dAtyAmTU_20 {
    animation: dAtyAmTU_draw 1200ms ease-in-out 0ms forwards;
}

.dAtyAmTU_21 {
    stroke-dasharray: 3912 3914;
    stroke-dashoffset: 3913;
}

.start-geo-12 .dAtyAmTU_21 {
    animation: dAtyAmTU_draw 1200ms ease-in-out 0ms forwards;
}

.dAtyAmTU_22 {
    stroke-dasharray: 4234 4236;
    stroke-dashoffset: 4235;
}

.start-geo-12 .dAtyAmTU_22 {
    animation: dAtyAmTU_draw 1200ms ease-in-out 0ms forwards;
}

.dAtyAmTU_23 {
    stroke-dasharray: 3912 3914;
    stroke-dashoffset: 3913;
}

.start-geo-12 .dAtyAmTU_23 {
    animation: dAtyAmTU_draw 1200ms ease-in-out 0ms forwards;
}

.dAtyAmTU_24 {
    stroke-dasharray: 3912 3914;
    stroke-dashoffset: 3913;
}

.start-geo-12 .dAtyAmTU_24 {
    animation: dAtyAmTU_draw 1200ms ease-in-out 0ms forwards;
}

.dAtyAmTU_25 {
    stroke-dasharray: 3912 3914;
    stroke-dashoffset: 3913;
}

.start-geo-12 .dAtyAmTU_25 {
    animation: dAtyAmTU_draw 1200ms ease-in-out 0ms forwards;
}

.dAtyAmTU_26 {
    stroke-dasharray: 3912 3914;
    stroke-dashoffset: 3913;
}

.start-geo-12 .dAtyAmTU_26 {
    animation: dAtyAmTU_draw 1200ms ease-in-out 0ms forwards;
}

.dAtyAmTU_27 {
    stroke-dasharray: 3912 3914;
    stroke-dashoffset: 3913;
}

.start-geo-12 .dAtyAmTU_27 {
    animation: dAtyAmTU_draw 1200ms ease-in-out 0ms forwards;
}

.dAtyAmTU_28 {
    stroke-dasharray: 4234 4236;
    stroke-dashoffset: 4235;
}

.start-geo-12 .dAtyAmTU_28 {
    animation: dAtyAmTU_draw 1200ms ease-in-out 0ms forwards;
}

.dAtyAmTU_29 {
    stroke-dasharray: 4234 4236;
    stroke-dashoffset: 4235;
}

.start-geo-12 .dAtyAmTU_29 {
    animation: dAtyAmTU_draw 1200ms ease-in-out 0ms forwards;
}

@keyframes dAtyAmTU_draw {
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes dAtyAmTU_fade {
    0% {
        stroke-opacity: 1;
    }

    92.5925925925926% {
        stroke-opacity: 1;
    }

    100% {
        stroke-opacity: 0;
    }
}

.str0 {
    stroke: #bfecd1;
    stroke-width: 16.93;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 22.9256;
}

.fil0 {
    fill: none;
}
